* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Hind Siliguri", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  padding: 29px 0;
}
.header-burger {
  display: none;
}
.header-container {
  max-width: 1140px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo-img {
  margin-right: 8px;
}
.header-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-list-item {
  margin-right: 56px;
}
.header-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030d15;
}
.header-icons {
  display: flex;
  align-items: center;
}
.header-icon {
  margin-left: 30px;
}
.favorite {
  padding: 130px 0 55px;
}
.favorite-container {
  max-width: 1227px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorite-img {
  width: 643px;
  height: 611px;
}
.favorite-text {
  max-width: 556px;
}
.favorite-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
  margin-bottom: 3px;
  margin-top: 0;
}
.favorite-title {
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 73px;
  color: #247cc0;
  margin-top: 0;
  margin-bottom: 30px;
}
.favorite-description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #030d15;
  opacity: 0.6;
  margin-bottom: 51px;
  margin-top: 0;
}
.favorite-buy {
  display: flex;
  align-items: center;
}
.button {
  background: #247cc0;
  padding: 16px 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
.favorite-button {
  margin-right: 31px;
}
.favorite-cost--new {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #030d15;
  margin-right: 18px;
}
.favorite-cost--old {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}
.logos {
  padding: 76px 0;
  box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08),
    0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083),
    0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886),
    0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04),
    0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114),
    0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
}
.logos-container {
  max-width: 1140px;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos-img {
  margin-right: 84px;
}
.style {
  padding: 177px 0 135px;
}
.style-container {
  max-width: 1133px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.style-img {
  max-width: 265px;
  min-height: 250px;
  position: relative;
  margin-right: 30px;
}
.style-img-main {
  width: 262px;
  height: 248px;
  border: 1px solid #e3e3e3;
}

.style-img-icon {
  position: absolute;
  z-index: 3;
  right: -17px;
  top: -12px;
}
.style-card {
  display: flex;
  align-items: center;
  max-width: 548px;
}
.style-title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
  margin-top: 0;
  margin-bottom: 10px;
}
.style-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
  margin-bottom: 20px;
  margin-top: 0;
}
.style-cost {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.style-cost--new {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
}
.style-cost--new::after {
  content: "/";
  margin: 0 2px;
  color: #030d15;
  opacity: 0.5;
}
.style-cost--old {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}
.stars {
  display: flex;
  align-items: center;
}
.sale {
  padding-bottom: 75px;
}
.sale-container {
  max-width: 1140px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.sale-card {
  display: flex;
  align-items: center;
  min-width: 555px;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 22px 0 22px 35px;
  justify-content: space-between;
}
.sale-img {
  width: 270px;
  height: 240px;
}
.sale-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #f4f9fc;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 5px;
}
.sale-title {
  margin-top: 0;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 40px;
  color: #f4f9fc;
}
.sale-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  color: #f4f9fc;
}
.sale-text {
  max-width: 249px;
}
.camera {
  transform: rotate(-15deg);
}
.dron {
  transform: rotate(28.01deg);
}
.about {
  padding-bottom: 125px;
}
.about-container {
  max-width: 1153px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.about-img {
  width: 464px;
  height: 650px;
  background-color: #008bf0;
  border-radius: 50%;
}
.about-text {
  padding-bottom: 0;
  min-width: 457px;
}
.about-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 10px;
}
.about-title {
  margin-top: 0;
  margin-bottom: 115px;
}
.about-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #030d15;
  opacity: 0.6;
  max-width: 457px;
  margin-bottom: 40px;
}
.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #030d15;
  max-width: 404px;
  margin-bottom: 20px;
}
.about-list-img {
  margin-right: 13px;
}
.tabs {
  padding-bottom: 130px;
}
.tabs-container {
  max-width: 1140px;
  margin: auto;
  width: 90%;
}
.tabs-subtitle {
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
}
.tabs-title {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 22px;
  color: #030d15;
}
.tabs-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}
.tabs-nav-item {
  margin-right: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030d15;
  opacity: 0.6;
}
.active {
  color: #c72535;
  opacity: 1;
  display: flex;
}
.tabs-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabs-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 360px;
  min-height: 503px;
  margin-bottom: 45px;
}
.card-wrapper {
  padding: 35px 59px 35px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
  margin-bottom: 12px;
}
.card-img {
  width: 243px;
  height: 232px;
}
.card-title {
  margin-top: 72px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
}
.card-cost {
  display: flex;
  margin-bottom: 7px;
}
.card-cost--new {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
}
.card-cost--new:after {
  content: "/";
  margin: 0 2px;
  color: #030d15;
  opacity: 0.5;
}
.card-cost--old {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}
.tabs-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-view span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030d15;
  margin-right: 10px;
}
.shop {
  padding-bottom: 130px;
}
.shop-container {
  max-width: 1140px;
  margin: auto;
  width: 90%;
}
.shop-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.shop-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
  margin-bottom: 0;
  margin-top: 0;
}
.shop-title {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  color: #030d15;
  text-align: center;
  margin-top: 0;
  margin-bottom: 7px;
}
.shop-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #030d15;
  opacity: 0.6;
  max-width: 457px;
}
.shop-card {
  max-width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.shop-card--1 {
  min-height: 330px;
}
.shop-card-wrapper {
  padding: 35px 73px 26px 35px;
  display: flex;
  flex-direction: column;
}
.shop-card-img {
  margin-bottom: 24px;
  display: block;
  width: 240px;
  height: 180px;
}
.shop-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subscribe {
  padding: 100px 0;
  background: #f4f9fc;
}
.subscribe-container {
  max-width: 1140px;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subscribe-text {
  max-width: 360px;
}
.subscribe-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  margin-top: 0;
  margin-bottom: 5px;
  opacity: 0.6;
}
.subscribe-title {
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 8px;
  color: #030d15;
}
.subscribe-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
}
.subscribe-form {
  max-width: 457px;
  display: flex;
  height: 50px;
}

.subscribe-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px 15px 40px;
}
.subscribe-button {
  width: 35%;
  border: 1px solid rgba(44, 43, 43, 0.1);
  background: #247cc0;
  padding: 15px 27px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.footer {
  padding-top: 77px;
  padding-bottom: 146px;
  background-color: #001;
}
.footer-container {
  max-width: 1140px;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.footer-col--1 {
  text-align: left;
  max-width: 284px;
  min-height: 284px;
}
.footer-logo-img {
  width: 45px;
  height: 58px;
  margin-bottom: 7px;
}
.footer-logo-name {
  font-style: normal;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  color: #3a68b8;
  margin-bottom: 10px;
  margin-top: 0;
}
.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 37px;
  margin-top: 0;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-gmail,
.footer-phone,
.footer-address {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-gmail-img,
.footer-address-img,
.footer-phone-img {
  margin-right: 10px;
}
.footer-gmail-name,
.footer-address-name,
.footer-phone-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.footer-nav-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list-item {
  margin-bottom: 20px;
}
.footer-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
}
.footer-col--2,
.footer-col--3,
.footer-col--4 {
  max-width: 165px;
}
.footer-col--5 {
  max-width: 267px;
}
.footer-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 21px;
  display: block;
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-social-img {
  margin-right: 25px;
  margin-bottom: 53px;
}
.footer-lang {
  display: flex;
  align-items: center;
}
.footer-lang-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 8px;
  margin-right: 10px;
}
